/***Utility Classes***/
:root {
    --font-sans-serif: Noto Sans, sans-serif;
    --purple: #855cd6;
    --dark-purple: #7753C0;
    --logo-orange: #F9AD40;
    --yellow: ##FFBF00; 
    --white: #ffffff;
    --green: #328553;
    --dark-green: #25603D;
    --light-blue: #EDF4FF;
    --dark-grey: #585F77;
    --medium-grey: #B3B3B3;
    --light-grey: #F2F2F2;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/***End Utility Classes***/

/***Global Styles***/

body {
    font-family: var(--font-sans-serif);
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

a {
    color: var(--purple);
}

h1 {
    font-family: var(--font-sans-serif);
    font-size: 27px;
    font-weight: 700;
    background-color: var(--purple);
    color: var(--white);
}

h2 {
    font-family: var(--font-sans-serif);
    font-size: 25px;
    font-weight: 700;
}

h3 {
    font-family: var(--font-sans-serif);
    font-size: 19px;
    font-weight: 700;
}

h4 {
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: 700;
}

h5 {
    font-family: var(--font-sans-serif);
    font-size: 12px;
    font-weight: 700;
}
img {
    max-width: 100%;
    display: block;
}
/***End Global Styles***/

/***General Component Styles***/

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--medium-grey);
    overflow-x: auto;
}

.component__code {
    border: 1px solid var(--medium-grey);
}


/***End General Component Styles***/