<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../css/normalize.css">

    <link rel="stylesheet" href="../../css/main.css">

    <title>Components | Scratch.MIT</title>
    
</head>
 <!--<img src="img/vector__logo.svg" alt="logo">-->
<body>

    <h1 class="page-header">Scratch.MIT| Web Components</h1>

    <h2>Typography Defaults</h2>

    <article  class="component">

        <h3 class="component__name">Headings</h3>

        <div class="component__img">
            <img srcset="img/Noto_Sans_Bold-60.png 2x" 
            src="img/Noto_Sans_Bold-60.png" alt="Noto Sans Bold 60"
            width="618" height="120.5">
            <img srcset="img/Noto_Sans_Bold-55.png 2x"
            src="img/Noto_Sans_Bold-55.png" alt="Noto Sans Bold 55"
            width="395.5" height="96">
            <img srcset="img/Noto_Sans_Bold-38.png 2x"
            src="img/Noto_Sans_Bold-38.png" alt="Noto Sans Bold 38"
            width="233" height="47">
            <img srcset="img/Noto_Sans_Bold-34.png 2x"
            src="img/Noto_Sans_Bold-34.png" alt="Noto Sans Bold 34"
            width="162.5" height="31.5">
            <img srcset="img/Noto_Sans_Bold-28.png 2x"
            src="img/Noto_Sans_Bold-28.png" alt="Noto Sans Bold 28"
            width="144.5" height="32">
        </div>

        <div class="component__code">
            <h1>H1 - Create stories, games, and animations<br> 
            Share with others around the world</h1>
            <h2>H2 - Get the Entire Collection of <br> Coding Cards</h2>
            <h3>H3 - Scratch App Download</h3>
            <h4>H4 - Featured Projects</h4>
            <h5>H5 - Animate a Name</h5>
        </div>       
        
    </article><!--end header article-->

    <article  class="component">

        <h3 class="component__name">Body Text</h3>

        <div class="component__img">
            <img srcset="img/Noto_Sans_Regular_Body-24.png 2x" 
            src="img/Noto_Sans_Regular_Body-24.png" alt="Noto Sans Regular Body 24"
            width="300" height="100">

            <img srcset="img/Noto_Sans_Regular_Body-24.png 2x" 
            src="img/Noto_Sans_Regular_Link-24.png" alt="Noto Sans Regular Link 24"
            width="150" height="40">
            
        </div>

        <div class="component__code">
            <p>Animate the letters of your name, <br>
            initials, or favorite word.</p>

            <p><a href="#!">About Scratch</a></p>
        </div>       
        
    </article><!--end text article-->









</body>

</html>