<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/2d3e4dc9de.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../css/normalize.css">

    <link rel="stylesheet" href="../../css/main.css">

    <title>Components | Scratch.MIT</title>
    
</head>
 
<body>

    <div class="header">
        <div class="content-wrapper">
            <img src="img/vector__logo.svg" alt="Scratch logo" width="82px" height="43px"><h1 class="page-header">Scratch.MIT| Web Components</h1>
        </div><!--end content-wrapper-->
    </div><!--end header-->

    <div class="navigation">

        <nav>
                <nav class="nav-links">
                    <ul class="nav-links-items">
                        <li class="nav-button"><a href="#typography">Typography</a></li>
                        <li class="nav-button"><a href="#colors">Colors</a></li>
                        <li class="nav-button"><a href="#atoms">Atoms</a></li>
                        <li class="nav-button"><a href="#navigation">Navigation</a></li>
                        <li class="nav-button"><a href="#page-header">Page Header</a></li>
                        <li class="nav-button"><a href="#body">Body</a></li>
                        <li class="nav-button"><a href="#footer">Footer</a></li>
                    </ul>
                </nav><!--end design system nav-->

        </nav>

    </div>

    <div class="content-wrapper">
        <h4 class="description">This is a study of the <a href="https://scratch.mit.edu/">Scratch.MIT</a> website and a collection of components within its design system.</h4>
    </div><!--end page description-->   

    <div class="content-wrapper">

        <components>
        <h2 id="typography">Typography Defaults</h2>

        <article  class="component">

            <h3 class="component__name">Headings</h3>

            <div class="component__img">

                <h3 class="component__name-label">Images</h3>

                <img srcset="img/Noto_Sans_Bold-60.png 2x" 
                src="img/Noto_Sans_Bold-60.png" alt="Noto Sans Bold 60"
                width="618" height="120.5">
                <img srcset="img/Noto_Sans_Bold-55.png 2x"
                src="img/Noto_Sans_Bold-55.png" alt="Noto Sans Bold 55"
                width="395.5" height="96">
                <img srcset="img/Noto_Sans_Bold-38.png 2x"
                src="img/Noto_Sans_Bold-38.png" alt="Noto Sans Bold 38"
                width="233" height="47">
                <img srcset="img/Noto_Sans_Bold-34.png 2x"
                src="img/Noto_Sans_Bold-34.png" alt="Noto Sans Bold 34"
                width="162.5" height="31.5">
                <img srcset="img/Noto_Sans_Bold-28.png 2x"
                src="img/Noto_Sans_Bold-28.png" alt="Noto Sans Bold 28"
                width="144.5" height="32">
            </div>

            <div class="component__code">

                <h3 class="component__name-label">Code</h3>
                
                <h1>H1 - Create stories, games, and animations<br> 
                Share with others around the world</h1>
                <h2>H2 - Get the Entire Collection of <br> Coding Cards</h2>
                <h3>H3 - Scratch App Download</h3>
                <h4>H4 - Featured Projects</h4>
                <h5>H5 - Animate a Name</h5>
            </div>       
            
        </article><!--end header article-->

        <article  class="component">

            <h3 class="component__name">Body and Link Text</h3>

            <div class="component__img">

                <h3 class="component__name-label">Images</h3>

                <img srcset="img/Noto_Sans_Regular_Body-24.png 2x" 
                src="img/Noto_Sans_Regular_Body-24.png" alt="Noto Sans Regular Body 24"
                width="300" height="100">

                <img srcset="img/Noto_Sans_Regular_Link-24.png 2x" 
                src="img/Noto_Sans_Regular_Link-24.png" alt="Noto Sans Regular Link 24"
                width="150" height="40">
                
            </div>

            <div class="component__code">

                <h3 class="component__name-label">Code</h3>

                <p>Animate the letters of your name, <br>
                initials, or favorite word.</p>

                <p><a href="#!">About Scratch</a></p>
            </div>       
            
        </article><!--end text article-->


        <h2 id="colors">Colors</h2>

        <article  class="component">

            <div class="component__img">
                <div class="content-wrapper">
                    <div class="color-container">
                        <div class="color__box">
                            <img src="img/hex855cd6.png" alt="Main Purple">
                            <p>Main Purple Color - #855cd6</p>
                        </div>

                        <div class="color__box">
                            <img src="img/hex7753C0.png" alt="Accent Purple">
                            <p>Accent Purple Color - #7753C0</p>
                        </div>

                        <div class="color__box">
                            <img src="img/hexF9AD40.png" alt="Logo Orange">
                            <p>Logo Orange - #F9AD40</p>
                        </div>

                        <div class="color__box">
                            <img src="img/hexFFBF00.png" alt="Accent Yellow">
                            <p>Accent Yellow - #FFBF00</p>
                        </div>

                        <div class="color__box--border">
                            <img src="img/FFFFFF.png" alt="White">
                            <p>White - #FFFFFF</p>
                        </div>

                        <div class="color__box">
                            <img src="img/hex328553.png" alt="Main Green">
                            <p>Main Green - #328553</p>
                        </div>

                        <div class="color__box">
                            <img src="img/hex25603D.png" alt="Alert Green">
                            <p>Alert Green - #25603D</p>
                        </div>

                        <div class="color__box--border">
                            <img src="img/hexEDF4FF.png" alt="Page Links Blue">
                            <p>Page Links Blue - #EDF4FF</p>
                        </div>
                        
                        <div class="color__box">
                            <img src="img/hex585F77.png" alt="Text Grey">
                            <p>Text Grey - #585F77</p>
                        </div>

                        <div class="color__box">
                            <img src="img/hexB3B3B3.png" alt="Container Accent Grey">
                            <p>Container Accent Grey - #B3B3B3</p>
                        </div>

                        <div class="color__box--border">
                            <img src="img/hexF2F2F2.png" alt="Accent Grey">
                            <p>Accent Grey - #F2F2F2</p>
                        </div>
                    </div><!--end color-container-->
                </div><!--end content-wrapper-->
            </div><!--end colors-->
        
            
        </article><!--end colors article-->


        <h2 id="atoms">Atoms</h2>

        <article  class="component">

            <h3 class="component__name">Logo</h3>

            <div class="component__img">

                <h3 class="component__name-label">Image</h3>

                <img src="img/main-header-nav__logo.png" alt="Scratch logo screenshot">

            </div>

            <div class="component__code">

                <h3 class="component__name-label">Code</h3>

                <img src="img/vector__logo.svg" alt="Scratch logo">
                
            </div>       
            
        </article><!--end logo article-->

        <article  class="component">

            <h3 class="component__name">Header Video</h3>

            <div class="component__img">

                <h3 class="component__name-label">Image</h3>

                <img src="img/main-header__video.png" alt="Header Video Screenshot">

            </div>

            <div class="component__code">

                <h3 class="component__name-label">Code</h3>

                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/9jTPZfhuVro?si=MNUvOshLpXVm7L6P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
            </div>       
            
        </article><!--end header video-->

        <article  class="component">

            <h3 class="component__name">Buttons</h3>

            <div class="component__img">

                    <h3 class="component__name-label">Image</h3>

                    <img src="img/header-alert__button.png" alt="Header Alert Button"
                    width="119.5" height="65">
                    <p>Header Alert Button</p>

                    <img src="img/main-header-page-links__button.png" alt="Page Links Button"
                    width="143" height="60.5">
                    <p>Page Links Button</p>

                    <img src="img/header__button.png"
                    alt="Header Button"
                    width="158.5" height="55.5">
                    <p>Header Button</p>

                    <img src="img/main-header__video-button.png"
                    alt="Header Video Button"
                    width="150" height="62.75">
                    <p>Header Video Button</p>

                    <img src="img/footer__split-button.png"
                    alt="Footer Split Button"
                    width="250" height="67.1">
                    <p>Footer Split Button</p>
                    
            </div>

            <div class="component__code">

                    <h3 class="component__name-label">Code</h3>

                    <h4><a href="#!" class="button--round">Donate</a></h4>

                    <h5><a href="#!" class="button--round-page">About Scratch</a></h5>

                    <h4><a href="#!" class="button--header"><i class="fa-solid fa-star"></i> Start Creating</a></h4>

                    <h4><a href="#!" class="button--header-video">Watch Video</a></h4>

                    <div class="footer-button">
                        <p><a href="#!" class="button--footer"> English</a></p>
                        <a href="#!"><i class="fa-solid fa-caret-down"></i></a>
                    </div>

            </div>  
            
        </article><!--end buttons article-->


        <h2 id="navigation">Navigation</h2>

        <article  class="component">

            <h3 class="component__name">Navigation  Search</h3>

            <div class="component__img">

                    <h3 class="component__name-label">Image</h3>

                    <img src="img/main-header-nav__search.png" alt="Header Alert Button"
                    width="326.5" height="52">
                    <p>Navigation Bar Search</p>
        
            </div>

            <div class="component__code">

                    <h3 class="component__name-label">Code</h3>

                    <div class="nav-search">
                        <input class="search" type="search" placeholder="Search">
                    </div>

            </div>  
            
        </article><!--end nav-search article-->

        <article  class="component">

            <h3 class="component__name">Navigation Bar</h3>

            <div class="component__img">

                    <h3 class="component__name-label">Image</h3>

                    <img src="img/main-header-nav.png" alt="Header Alert Button"
                    width="1260" height="52">
                    <p>Navigation Bar</p>
        
            </div>

            <div class="component__code">

                    <h3 class="component__name-label">Code</h3>

                    <nav class="nav-links">
                        <ul class="nav-links-items">
                            <li class="nav-logo"><a href="#!"><img src="img/vector__logo.svg" alt="Scratch logo" width="82px" height="43px"></a></li>
                            <li class="nav-button"><a href="#!">Create</a></li>
                            <li class="nav-button"><a href="#!">Explore</a></li>
                            <li class="nav-button"><a href="#!">Ideas</a></li>
                            <li class="nav-button"><a href="#!">About</a></li>
                            <li><a href="#!"><div class="nav-search">
                                <input class="search" type="search" placeholder="Search">
                            </div></a></li>
                            <li class="nav-button"><a href="#!">Join Scratch</a></li>
                            <li class="nav-button"><a href="#!">Sign in</a></li>
                        </ul>
                    </nav>

            </div>
        </article><!--end nav-links article-->

        <article  class="component">

            <h3 class="component__name">Page Buttons Bar</h3>

            <div class="component__img">

                    <h3 class="component__name-label">Image</h3>

                    <img src="img/main-header-page-links.png" alt="Header Page Links"
                    width="1260" height="52">
                    <p>Page Buttons</p>
        
            </div>

            <div class="component__code">

                    <h3 class="component__name-label">Code</h3>

                    <nav class="nav-links">
                        <ul class="page-button-items">
                            <li class="page-button"><h5><a href="#!" class="button--round-page">About Scratch</a></h5></li>
                            <li class="page-button"><h5><a href="#!" class="button--round-page">For Parents</a></h5></li>
                            <li class="page-button"><h5><a href="#!" class="button--round-page">For Educators</a></h5></li>
                        </ul>
                    </nav>

            </div>

        </article><!--end page buttons article-->


        <h2 id="page-header">Main Page Header</h2>

        <article  class="component">

            <h3 class="component__name">Main Header</h3>

            <div class="component__img">

                    <h3 class="component__name-label">Image</h3>

                    <img src="img/main-header.png" alt="Main Header"
                    width="1260" height="450">
                    <p>Main Header</p>
        
            </div>

            <div class="component__code">

                    <h3 class="component__name-label">Code</h3>

                    <div class="main-page-hero">

                        <nav class="nav-links">
                            <ul class="nav-links-items">
                                <li class="nav-logo"><a href="#!"><img src="img/vector__logo.svg" alt="Scratch logo" width="82px" height="43px"></a></li>
                                <li class="nav-button"><a href="#!">Create</a></li>
                                <li class="nav-button"><a href="#!">Explore</a></li>
                                <li class="nav-button"><a href="#!">Ideas</a></li>
                                <li class="nav-button"><a href="#!">About</a></li>
                                <li><a href="#!"><div class="nav-search">
                                    <input class="search" type="search" placeholder="Search">
                                </div></a></li>
                                <li class="nav-button"><a href="#!">Join Scratch</a></li>
                                <li class="nav-button"><a href="#!">Sign in</a></li>
                            </ul>
                        </nav><!--end nav-links-->               

                        <nav class="nav-links">
                            <ul class="alert-bar-items">
                                <li class="alert-icon"><i class="fa-solid fa-star"></i></li>
                                <li class="alert-text"><h4>Scratch is a nonprofit that relies on donations to keep our platform free for all kids. Your gift of $5 will make a difference.</h4></li>
                                <li><h4><a href="#!" class="button--round">Donate</a></h4></li>
                                <li class="close-button"><i class="fa-solid fa-xmark"></i></li>
                            </ul>
                        </nav><!--end alert-bar-->
                        
                        <div class="hero">

                            <div class="hero-cta">

                                <h1>Create stories, games, and animations<br> 
                                Share with others around the world</h1>

                                    <div class="hero-buttons">
                                        <h4><a href="#!" class="button--header"><i class="fa-solid fa-star"></i> Start Creating</a></h4>

                                        <h4><a href="#!" class="button--header"><i class="fa-solid fa-bolt"></i> Join</a></h4>
                                    </div><!--end hero-buttons-->
                                    
                            </div><!--end hero-cta-->

                            <div class="hero-video">

                                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/9jTPZfhuVro?si=MNUvOshLpXVm7L6P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                <div class="hero-video-button">
                                    <h4><a href="#!" class="button--header-video">Watch Video</a></h4>
                                </div><!--end hero-video-button-->
                                
                            </div><!--end hero-video-->

                        </div><!--end hero-->

                        <nav class="nav-links">
                            <ul class="page-button-items">
                                <li class="page-button"><h5><a href="#!" class="button--round-page">About Scratch</a></h5></li>
                                <li class="page-button"><h5><a href="#!" class="button--round-page">For Parents</a></h5></li>
                                <li class="page-button"><h5><a href="#!" class="button--round-page">For Educators</a></h5></li>
                            </ul>
                        </nav>
                    
                    </div><!--end main-page-hero-->

            </div>

        </article><!--end main header article-->


        <h2 id="body">Body</h2>
        
        <article class="component">

            <h3 class="component__name">Featured Projects</h3>

            <div class="component__img">

                <h3 class="component__name-label">Image</h3>

                <img src="img/featured-container.png" alt="Featured Projects Container">
                <p>Featured Projects Container</p>

            </div>

            <div class="component__code">

                <h3 class="component__name-label">Code</h3>

                <div class="featured-projects">

                    <div class="container-header">

                        <h4 class="card-header">Featured Projects</h4>

                    </div>
            
                    <ul class="featured-projects-items">

                        <li><i class="fa-regular fa-circle-left"></i></li>

                        <!--width="250" height="170"-->
                        <div class="project-tiles">

                            <li class="project">
                            <img src="img/21.png" alt="project image">
                            <h5 class="project-header">Takeout Titans</h5>
                            <h5 class="project-creator">Kintosee</h5>
                            </li>

                            <li class="project">
                            <img src="img/22.jpeg" alt="project image">
                            <h5 class="project-header">Princess Monono...</h5>
                            <h5 class="project-creator">Ninjaloanthi</h5>
                            </li>

                            <li class="project">
                            <img src="img/23.png" alt="project image">
                            <h5 class="project-header">An Ambient After...</h5>
                            <h5 class="project-creator">CATSAREAMAZING-</h5>
                            </li>

                            <li class="project">
                            <img src="img/24.jpeg" alt="project image">
                            <h5 class="project-header">The Donut Game [...</h5>
                            <h5 class="project-creator">LBV_stuff</h5>
                            </li>

                            <li class="project">
                            <img src="img/25.jpeg" alt="project image">
                            <h5 class="project-header">Retract (sin), Puls...</h5>
                            <h5  class="project-creator">BlueSadCatCodes</h5>
                            </li>
                        </div><!--end project-tiles-->

                        <li><i class="fa-regular fa-circle-right"></i></li>

                    </ul>

                </div><!--end featured-projects-->

            </div>

        </article><!--end featured projects article-->


        <h2 id="footer">Footer</h2>

        <article class="component">

            <h3 class="component__name">Footer</h3>

            <div class="component__img">

                <h3 class="component__name-label">Image</h3>

                <img src="img/footer.png" alt="Footer">
                <p>Footer</p>

            </div>

            <div class="component__code">

                <h3 class="component__name-label">Code</h3>

                    <div class="footer-container">

                            <div class="footer-links-items">

                                <ul class="footer-links">
                                    <li><h4>About</h4></li>
                                    <li><a href="#!">About Scratch</a></li>
                                    <li><a href="#!">For Parents</a></li>
                                    <li><a href="#!">For Educators</a></li>
                                    <li><a href="#!">For Developers</a></li>
                                    <li><a href="#!">Our Team</a></li>
                                    <li><a href="#!">Donors</a></li>
                                    <li><a href="#!">Jobs</a></li>
                                    <li><a href="#!">Donate</a></li>
                                </ul><!--end about-->

                                <ul class="footer-links">
                                    <li><h4>Community</h4></li>
                                    <li><a href="#!">Community Guidelines</a></li>
                                    <li><a href="#!">Discussion Forums</a></li>
                                    <li><a href="#!">Scratch Wiki</a></li>
                                    <li><a href="#!">Statistics</a></li>
                                </ul><!--end community-->

                                <ul class="footer-links">
                                    <li><h4>Resources</h4></li>
                                    <li><a href="#!">Ideas</a></li>
                                    <li><a href="#!">FAQ</a></li>
                                    <li><a href="#!">Download</a></li>
                                    <li><a href="#!">Contact Us</a></li>
                                </ul><!--end resources-->

                                <ul class="footer-links">
                                    <li><h4>Legal</h4></li>
                                    <li><a href="#!">Terms of Use</a></li>
                                    <li><a href="#!">Privacy Policy</a></li>
                                    <li><a href="#!">Cookies</a></li>
                                    <li><a href="#!">DMCA</a></li>
                                    <li><a href="#!">DSA Requirements</a></li>
                                </ul><!--end legal-->

                                <ul class="footer-links">
                                    <li><h4>Scratch Family</h4></li>
                                    <li><a href="#!">ScratchEd</a></li>
                                    <li><a href="#!">ScratchJr</a></li>
                                    <li><a href="#!">Scratch Day</a></li>
                                    <li><a href="#!">Scratch Conference</a></li>
                                    <li><a href="#!">Scratch Foundation</a></li>
                                    <li><a href="#!">Scratch Store</a></li>
                                </ul><!--end scratch family-->
                            </div><!--end footer-links-items-->

                            <div class="footer-button">
                                <p><a href="#!" class="button--footer"> English</a></p>
                                <a href="#!"><i class="fa-solid fa-caret-down"></i></a>
                            </div>

                            <div class="footer-info">
                                <p>Scratch is available for free thanks to support from our <a href="#!">donors</a>. We are grateful to our Founding Partners: Massachusetts Institute of Technology, National Science Foundation, Siegel Family Endowment, and LEGO Foundation.</p>
                            </div><!--end footer-info-->

                    </div><!--end footer-container-->

            </div><!--end component__code-->

        </article><!--end footer article-->

        </components>

    </div><!--end content-wrapper-->

</body>

</html>